@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body main .bannerInit {
  background-image: url(../img/manosHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  display: flex;
  justify-content: center; }
  body main .bannerInit .carousel {
    background-color: rgba(255, 255, 255, 0.74);
    width: 80%;
    border-radius: 15px;
    margin-top: 120px; }
    body main .bannerInit .carousel .carousel-inner .carousel-item {
      padding-bottom: 20px; }
      body main .bannerInit .carousel .carousel-inner .carousel-item h4 {
        color: #263238;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        font-family: "Libre Baskerville", serif; }
    body main .bannerInit .carousel .carousel-indicators {
      margin-bottom: 0px; }
      body main .bannerInit .carousel .carousel-indicators .buttonCarousel {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: #D988AE; }
  body main .bannerInit .bannerSecond {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px; }
    body main .bannerInit .bannerSecond h1, body main .bannerInit .bannerSecond h4 {
      font-family: "Libre Baskerville", serif;
      color: #263238; }
    body main .bannerInit .bannerSecond .ButtonsBannerSecond .buttonBannerSecond1 {
      background-color: #D988AE;
      border: 0px;
      border-radius: 20px;
      color: white;
      padding: 5px 17px 5px 17px;
      margin: 5px 30px 0px 30px;
      text-decoration: none; }
      body main .bannerInit .bannerSecond .ButtonsBannerSecond .buttonBannerSecond1 i {
        padding-left: 5px; }
    body main .bannerInit .bannerSecond .ButtonsBannerSecond .buttonBannerSecond2 {
      background-color: #69868A;
      border: 0px;
      border-radius: 20px;
      color: white;
      padding: 5px 15px 5px 15px;
      margin: 5px 30px 0px 30px;
      text-decoration: none; }
      body main .bannerInit .bannerSecond .ButtonsBannerSecond .buttonBannerSecond2 i {
        padding-left: 5px; }

body main .contentsA {
  text-align: center;
  background-image: url(../img/degrade_rosa_fondo_home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom; }
  body main .contentsA .textTop h2 {
    font-family: "Libre Baskerville", serif;
    color: #263238; }
  body main .contentsA .textTop .btn {
    background-color: #D988AE;
    border: 0px;
    border-radius: 20px;
    color: white;
    padding: 5px 17px 5px 17px; }
  body main .contentsA .imgRemaster {
    border-radius: 8px;
    width: 85%; }
  body main .contentsA .textBottom h2 {
    font-family: "Libre Baskerville", serif;
    color: #263238; }
  body main .contentsA .textBottom p {
    text-align: start; }

body main .contentB {
  background-image: url(../img/porque_acompañamiento.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
  background-position-y: bottom; }
  body main .contentB p {
    margin-bottom: 60px; }
  body main .contentB .space {
    height: 330px; }

body main .foundContentC {
  background-image: url(../img/fondo_como_funciona.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  background-color: #FFF8F8; }
  body main .foundContentC .contentC h2, body main .foundContentC .contentC h4 {
    font-family: "Libre Baskerville", serif; }
  body main .foundContentC .contentC img {
    object-fit: cover; }
  body main .foundContentC .contentC .btnContentC {
    display: flex;
    justify-content: center; }
    body main .foundContentC .contentC .btnContentC .btn {
      background-color: #D988AE;
      border: 0px;
      border-radius: 20px;
      color: white;
      padding: 5px 17px 5px 17px; }

@media screen and (max-width: 768px) {
  body main .contentsA {
    margin: 0px !important; }
    body main .contentsA .textTop {
      order: 1; }
    body main .contentsA .picture {
      order: 0; }
    body main .contentsA .textBottom {
      order: 2; } }

@media screen and (max-width: 576px) {
  body main .contentB .space {
    display: none; }
  body main .foundContentC .contentC {
    display: flex;
    justify-content: center; }
    body main .foundContentC .contentC img {
      margin: auto; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .carousel {
    height: 170px; } }

@media screen and (min-width: 1200px) {
  body main .contentB {
    background-size: 30%; } }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body header {
    font-family: "Roboto", sans-serif; }
  body .main__quienessomos {
    flex-grow: 1;
    background-image: url("../img/Vector-10.png");
    background-color: #FFF8F8;
    background-size: 98.72vw 100%;
    background-position-y: 65px;
    background-repeat: no-repeat;
    height: 100%; }
    body .main__quienessomos .title--quienessomos {
      margin-top: 100px;
      font-family: "Libre Baskerville", serif; }
    body .main__quienessomos .article .div--imgCV {
      position: relative;
      bottom: 50px; }
    body .main__quienessomos .article .div--imgCV1 {
      padding-left: 15px; }
    body .main__quienessomos .subtitle--quienessomos--resp {
      display: none;
      font-family: "Libre Baskerville", serif; }
    body .main__quienessomos .subtitle--quienessomos {
      position: relative;
      width: 200px;
      bottom: 200px;
      font-family: "Libre Baskerville", serif; }
    body .main__quienessomos .p--quienessomos {
      font-family: "Roboto", sans-serif; }
  body footer {
    min-height: 9vh;
    background-color: aqua; }

@media screen and (max-width: 980px) {
  .subtitle--quienessomos {
    bottom: 100px !important; } }

@media screen and (max-width: 767px) {
  .article--mqMD {
    flex-direction: column-reverse; }
  .div--imgCV {
    display: flex;
    justify-content: center;
    bottom: 0 !important; }
  .subtitle--quienessomos--resp {
    display: flex !important; }
  .subtitle--quienessomos {
    display: none; } }

.contact {
  background-color: #FFF8F8; }
  .contact div .title {
    margin-top: 100px;
    margin-bottom: 20px; }
  .contact div .gradient {
    background: linear-gradient(90deg, #FEB0C3, #F2C7DB, #FFC9C9);
    width: 60%;
    border-radius: 20px;
    margin: auto;
    color: white;
    text-align: center;
    padding: 60px 0px 20px 0px; }
    .contact div .gradient form .formu {
      background-color: rgba(255, 255, 255, 0.377); }
      .contact div .gradient form .formu .form-control {
        background-color: rgba(255, 255, 255, 0.377);
        color: white; }
        .contact div .gradient form .formu .form-control::placeholder {
          color: white; }
      .contact div .gradient form .formu .btn {
        background-color: #69868A;
        color: white; }
  .contact div .contact2 {
    background-color: #F9E4EE;
    border-radius: 10px; }
    .contact div .contact2 p a {
      text-decoration: none;
      color: #000000; }

body header .active--talleres {
  color: rgba(0, 0, 0, 0.9) !important; }

body header .dropactive {
  background-color: #fff;
  font-weight: bolder; }
  body header .dropactive:active {
    background-color: #F9E4EE;
    color: #000; }

body header .dropactive--none:active {
  background-color: #F9E4EE;
  color: black; }

body .main__talleres {
  flex-grow: 1;
  max-width: 100vw; }
  body .main__talleres .title--talleres {
    margin-top: 100px;
    font-family: "Libre Baskerville", serif; }
  body .main__talleres .subtitle--talleres {
    font-family: "Libre Baskerville", serif;
    font-weight: 600; }
  body .main__talleres .p--talleres {
    font-family: "Roboto", sans-serif; }
  body .main__talleres .content--objetivos {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 102vw; }
    body .main__talleres .content--objetivos h2 {
      margin-left: 3.8rem !important; }
      body .main__talleres .content--objetivos h2 .elipse--degr {
        display: flex;
        position: relative;
        top: 50%;
        right: 8.8%;
        z-index: -1; }
    body .main__talleres .content--objetivos .div--objetivos {
      background-image: url("../img/fondotalleres.png");
      background-size: 105vw;
      background-repeat: no-repeat;
      transform: scaleX(-1);
      height: 1495px; }
      body .main__talleres .content--objetivos .div--objetivos div div {
        transform: scaleX(-1); }
        body .main__talleres .content--objetivos .div--objetivos div div img {
          position: relative;
          max-width: 250px; }
        body .main__talleres .content--objetivos .div--objetivos div div h5 {
          position: relative;
          font-family: "Libre Baskerville", serif; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo1 .objetivo1__img {
        top: 80px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo1 .objetivo1__h5 {
        top: 80px;
        right: 103px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo2-3 .objetivo2__img {
        top: 170px;
        right: 145px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo2-3 .objetivo2__h5 {
        top: 140px;
        right: 225px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo2-3 .objetivo3__img {
        top: 215px;
        right: 40px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo2-3 .objetivo3__h5 {
        top: 250px;
        right: 120px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo4-5 .objetivo4__img {
        top: 225px;
        right: 80px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo4-5 .objetivo4__h5 {
        top: 330px;
        z-index: 2; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo4-5 .objetivo5__img {
        top: 380px;
        left: 100px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo4-5 .objetivo5__h5 {
        top: 400px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo6-7 .objetivo6__img {
        top: 420px;
        right: 37px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo6-7 .objetivo6__h5 {
        top: 400px;
        right: 100px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo6-7 .objetivo7__img {
        top: 365px;
        right: 90px; }
      body .main__talleres .content--objetivos .div--objetivos .objetivo6-7 .objetivo7__h5 {
        top: 480px;
        left: 20px;
        z-index: 2; }
    body .main__talleres .content--objetivos .div--objetivos--resp {
      display: none; }
  body .main__talleres .content--contenidos {
    width: 100vw;
    height: 180vh;
    background-image: url("../img/fondo-oscuro.png");
    background-size: 100vw 100.1%;
    background-repeat: no-repeat; }
    body .main__talleres .content--contenidos .contenidos {
      height: 100%; }
      body .main__talleres .content--contenidos .contenidos .contenidos__info {
        position: relative;
        right: 70px;
        font-family: "Roboto", sans-serif; }
        body .main__talleres .content--contenidos .contenidos .contenidos__info .info {
          padding: 15px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info .info__number::before {
            content: "";
            position: absolute;
            top: 10px;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.438);
            z-index: 2; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info .info__number h3 {
            position: relative;
            right: 1.9rem;
            font-size: 5.3rem;
            font-family: "Libre Baskerville", serif;
            z-index: 3; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info .info__info {
            width: 200px; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info .info__info::before {
              content: "";
              position: absolute;
              width: 300px;
              height: 300px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.438); }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info .info__info h4 {
              font-size: 1.2rem;
              z-index: 1; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info .info__info p {
              font-size: 1rem;
              z-index: 1; }
        body .main__talleres .content--contenidos .contenidos .contenidos__info .info1 {
          position: relative;
          bottom: 100px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info1 .info1__number {
            position: relative;
            top: 50px;
            left: 110px; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info1 .info1__number h3 {
              top: 15px;
              right: 35px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info1 .info1__info h4 {
            position: relative;
            top: 30px;
            left: 65px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info1 .info1__info p {
            position: relative;
            top: 25px;
            left: 65px; }
        body .main__talleres .content--contenidos .contenidos .contenidos__info .info2 {
          position: relative;
          top: 60px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info2 .info2__number {
            position: relative;
            top: 55px;
            left: 30px; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info2 .info2__number h3 {
              top: 13px;
              right: 28px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info2 .info2__info h4 {
            position: relative;
            top: 85px;
            left: 55px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info2 .info2__info p {
            position: relative;
            top: 80px;
            left: 55px; }
        body .main__talleres .content--contenidos .contenidos .contenidos__info .info3 {
          position: relative;
          bottom: 100px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info3 .info3__number {
            position: relative;
            top: 50px;
            left: 50px; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info3 .info3__number h3 {
              position: relative;
              top: 14px;
              right: 27px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info3 .info3__info h4 {
            position: relative;
            top: 70px;
            left: 53px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info3 .info3__info p {
            position: relative;
            top: 75px;
            left: 53px; }
        body .main__talleres .content--contenidos .contenidos .contenidos__info .info4 {
          position: relative;
          top: 60px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info4 .info4__number {
            position: relative;
            top: 70px;
            left: 110px; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info4 .info4__number h3 {
              position: relative;
              top: 15px;
              right: 30px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info4 .info4__info h4 {
            position: relative;
            top: 60px;
            left: 63px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info4 .info4__info p {
            position: relative;
            top: 60px;
            left: 63px; }
        body .main__talleres .content--contenidos .contenidos .contenidos__info .info5 {
          position: relative;
          top: 70px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info5 .info5__number {
            position: relative;
            top: 100px;
            left: 125px; }
            body .main__talleres .content--contenidos .contenidos .contenidos__info .info5 .info5__number h3 {
              position: relative;
              top: 15px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info5 .info5__info::before {
            top: 150px;
            left: 55px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info5 .info5__info h4 {
            position: relative;
            top: 110px;
            left: 98px; }
          body .main__talleres .content--contenidos .contenidos .contenidos__info .info5 .info5__info p {
            position: relative;
            top: 105px;
            left: 98px; }
      body .main__talleres .content--contenidos .contenidos .btn__contenidos button {
        background-color: #333232;
        color: #fff;
        font-size: 1.5rem;
        border: none;
        border-radius: 28px;
        padding: 0 30px 3px 30px; }
      body .main__talleres .content--contenidos .contenidos .space__contenidos {
        height: 150px; }
  body .main__talleres .content--clinicas {
    position: relative;
    background-image: url("../img/fondo-oscuro.png");
    background-size: 99vw 100%;
    background-repeat: no-repeat;
    height: 150vh;
    transform: scaleY(-1);
    z-index: 1; }
    body .main__talleres .content--clinicas .clinicas {
      background-image: url("../img/Rectangle-36.png");
      background-size: 99vw 100%;
      background-repeat: no-repeat;
      height: 100%;
      transform: scaleY(-1); }
      body .main__talleres .content--clinicas .clinicas .clinicas__title h2 {
        font-size: 3rem;
        font-family: "Libre Baskerville", serif; }
      body .main__talleres .content--clinicas .clinicas .clinicas__info {
        font-size: 25px;
        font-family: "Roboto", sans-serif; }
      body .main__talleres .content--clinicas .clinicas .clinicas__button button {
        background-color: #D988AE;
        color: #fff;
        font-size: 1.5rem;
        border: none;
        border-radius: 28px;
        padding: 0 30px 3px 30px; }

@media screen and (max-width: 1230px) {
  .div--objetivos {
    height: 1345px !important; }
    .div--objetivos h5 {
      font-size: 1rem !important; }
    .div--objetivos .objetivo1__img {
      top: 10px !important; }
    .div--objetivos .objetivo1__h5 {
      top: 10px !important; }
    .div--objetivos .objetivo2__img {
      top: 120px !important;
      right: 90px !important; }
    .div--objetivos .objetivo2__h5 {
      top: 110px !important;
      right: 170px !important;
      text-align: center !important; }
    .div--objetivos .objetivo3__img {
      top: 110px !important; }
    .div--objetivos .objetivo3__h5 {
      top: 150px !important; }
    .div--objetivos .objetivo4__img {
      top: 140px !important; }
    .div--objetivos .objetivo4__h5 {
      top: 230px !important; }
    .div--objetivos .objetivo5__img {
      top: 295px !important;
      left: 50px !important; }
    .div--objetivos .objetivo5__h5 {
      top: 370px !important; }
    .div--objetivos .objetivo6__img {
      top: 390px !important;
      right: 140px !important; }
    .div--objetivos .objetivo6__h5 {
      top: 390px !important;
      right: 210px !important; }
    .div--objetivos .objetivo7__img {
      top: 275px !important;
      right: 100px !important; }
    .div--objetivos .objetivo7__h5 {
      top: 395px !important;
      left: 0px !important; }
  .contenidos__info {
    right: 90px !important; }
    .contenidos__info .info .info__number::before {
      width: 100px !important;
      height: 100px !important; }
    .contenidos__info .info .info__number h3 {
      font-size: 5rem !important; }
    .contenidos__info .info .info__info {
      width: 180px !important; }
      .contenidos__info .info .info__info::before {
        width: 280px !important;
        height: 280px !important; }
      .contenidos__info .info .info__info h4 {
        font-size: 1.1rem !important; }
      .contenidos__info .info .info__info p {
        font-size: .95rem !important; } }

@media screen and (max-width: 1125px) {
  .div--objetivos {
    height: 1230px !important; }
    .div--objetivos .objetivo6__img {
      top: 280px !important; }
    .div--objetivos .objetivo6__h5 {
      top: 280px !important; }
    .div--objetivos .objetivo7__img {
      top: 190px !important; }
    .div--objetivos .objetivo7__h5 {
      top: 300px !important; }
  .contenidos__info {
    right: 95px !important; }
    .contenidos__info .info .info__number::before {
      width: 80px !important;
      height: 80px !important; }
    .contenidos__info .info .info__number h3 {
      font-size: 3.7rem !important;
      right: 23px !important; }
    .contenidos__info .info .info__info {
      width: 150px !important; }
      .contenidos__info .info .info__info::before {
        width: 250px !important;
        height: 250px !important; }
      .contenidos__info .info .info__info h4 {
        font-size: 1rem !important; }
      .contenidos__info .info .info__info p {
        font-size: .8rem !important; }
  .content--clinicas .clinicas .clinicas__title h2 {
    font-size: 2rem !important; }
  .content--clinicas .clinicas .clinicas__info {
    font-size: 18px !important; } }

@media screen and (max-width: 991px) {
  .div--objetivos {
    height: 1085px !important; }
    .div--objetivos h5 {
      font-size: .8rem !important; }
    .div--objetivos .objetivo1__img {
      top: 50px !important; }
    .div--objetivos .objetivo2__img {
      top: 50px !important; }
    .div--objetivos .objetivo2__h5 {
      top: 50px !important;
      text-align: left !important; }
    .div--objetivos .objetivo3__img {
      top: 80px !important; }
    .div--objetivos .objetivo4__img {
      top: 15px !important; }
    .div--objetivos .objetivo4__h5 {
      top: 100px !important; }
    .div--objetivos .objetivo5__img {
      top: 165px !important;
      left: 0px !important; }
    .div--objetivos .objetivo5__h5 {
      top: 205px !important;
      right: 75px !important; }
    .div--objetivos .objetivo6__img {
      top: 125px !important; }
    .div--objetivos .objetivo6__h5 {
      top: 120px !important; }
    .div--objetivos .objetivo7__img {
      top: 85px !important; }
    .div--objetivos .objetivo7__h5 {
      top: 180px !important; }
  .contenidos__info {
    right: 72px !important; }
    .contenidos__info .info__info {
      width: 150px !important; }
    .contenidos__info .info1__info {
      position: relative;
      left: 25px; }
    .contenidos__info .info5__number {
      left: 102px !important; }
    .contenidos__info .info5__info {
      bottom: 50px;
      right: 55px; }
      .contenidos__info .info5__info h4 {
        left: 80px !important; }
      .contenidos__info .info5__info p {
        left: 80px !important; } }

@media screen and (max-width: 900px) {
  .content--contenidos {
    height: 240vh !important; }
    .content--contenidos .info1__info h4 {
      left: 53px !important; }
    .content--contenidos .info1__info p {
      left: 53px !important; } }

@media screen and (max-width: 850px) {
  .div--objetivos {
    height: 930px !important; }
    .div--objetivos .objetivo1__img {
      top: 20px !important; }
    .div--objetivos .objetivo1__h5 {
      top: 10px !important; }
    .div--objetivos .objetivo2__img {
      top: 10px !important; }
    .div--objetivos .objetivo3__img {
      top: 10px !important; }
    .div--objetivos .objetivo3__h5 {
      top: 30px !important; }
    .div--objetivos .objetivo4__img {
      top: -50px !important; }
    .div--objetivos .objetivo4__h5 {
      top: 20px !important; }
    .div--objetivos .objetivo5__img {
      top: 50px !important; }
    .div--objetivos .objetivo5__h5 {
      top: 80px !important; }
    .div--objetivos .objetivo6__img {
      top: 30px !important; }
    .div--objetivos .objetivo6__h5 {
      top: 20px !important; }
    .div--objetivos .objetivo7__img {
      top: -35px !important; }
    .div--objetivos .objetivo7__h5 {
      top: 60px !important; } }

@media screen and (max-width: 760px) {
  body .main__talleres .content--objetivos h2 {
    margin-left: 1rem !important; }
  .div--objetivos {
    display: none; }
  .div--objetivos--resp {
    display: flex !important;
    background-image: url("../img/fondotalleres.png");
    background-repeat: no-repeat;
    background-size: 105vw 100%;
    height: 127vh;
    transform: scaleX(-1); }
    .div--objetivos--resp .objetivo {
      transform: scaleX(-1); }
      .div--objetivos--resp .objetivo .objetivo1__2--img {
        position: absolute;
        max-width: 250px; }
      .div--objetivos--resp .objetivo .carousel {
        background-color: transparent;
        width: 80%;
        border-radius: 15px; }
        .div--objetivos--resp .objetivo .carousel .carousel-inner .carousel-item {
          padding-bottom: 20px; }
          .div--objetivos--resp .objetivo .carousel .carousel-inner .carousel-item h5 {
            color: #263238;
            padding: 20px;
            margin-top: 20px;
            text-align: center;
            font-family: "Libre Baskerville", serif; }
        .div--objetivos--resp .objetivo .carousel .carousel-indicators {
          margin-bottom: 0px; }
          .div--objetivos--resp .objetivo .carousel .carousel-indicators .buttonCarousel {
            border-radius: 100%;
            width: 10px;
            height: 10px;
            background-color: #D988AE; }
      .div--objetivos--resp .objetivo .bannerSecond {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 40px; }
        .div--objetivos--resp .objetivo .bannerSecond h1, .div--objetivos--resp .objetivo .bannerSecond h4 {
          font-family: "Libre Baskerville", serif;
          color: #263238; }
        .div--objetivos--resp .objetivo .bannerSecond .ButtonsBannerSecond .buttonBannerSecond1 {
          background-color: #D988AE;
          border: 0px;
          border-radius: 20px;
          color: white;
          padding: 5px 17px 5px 17px;
          margin: 5px 30px 0px 30px; }
          .div--objetivos--resp .objetivo .bannerSecond .ButtonsBannerSecond .buttonBannerSecond1 i {
            padding-left: 5px; }
        .div--objetivos--resp .objetivo .bannerSecond .ButtonsBannerSecond .buttonBannerSecond2 {
          background-color: #69868A;
          border: 0px;
          border-radius: 20px;
          color: white;
          padding: 5px 15px 5px 15px;
          margin: 5px 30px 0px 30px; }
          .div--objetivos--resp .objetivo .bannerSecond .ButtonsBannerSecond .buttonBannerSecond2 i {
            padding-left: 5px; }
  .content--clinicas .clinicas .clinicas__title h2 {
    font-size: 1.5rem !important; }
  .content--clinicas .clinicas .clinicas__info {
    font-size: 15px !important; } }

@media screen and (max-width: 539px) {
  .content--contenidos {
    height: 270vh !important; }
    .content--contenidos .info5 {
      top: -41px !important;
      right: 102px !important; } }

body .main__testimonios {
  flex-grow: 1;
  max-width: 100vw; }
  body .main__testimonios .container-fluid .container--testimonios {
    display: flex;
    justify-content: center;
    background-image: url("../img/manos-testimonios.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 75px; }
    body .main__testimonios .container-fluid .container--testimonios .testimonios__title {
      display: flex;
      justify-content: center;
      position: relative;
      font-size: 50px;
      font-family: "Libre Baskerville", serif;
      margin: 420px 0 100px; }
    body .main__testimonios .container-fluid .container--testimonios div .container {
      min-width: 1150px !important;
      width: 100% !important; }
      body .main__testimonios .container-fluid .container--testimonios div .container .carousel-inner .carousel-item .carousel-caption {
        width: 300px;
        top: 20%;
        left: 36%; }
        body .main__testimonios .container-fluid .container--testimonios div .container .carousel-inner .carousel-item .carousel-caption h5 {
          font-family: "Libre Baskerville", serif; }
    body .main__testimonios .container-fluid .container--testimonios .carusel2 {
      display: none; }
    body .main__testimonios .container-fluid .container--testimonios .trans-50 {
      transform: translateX(50%); }
    body .main__testimonios .container-fluid .container--testimonios .w-45 {
      width: 45% !important; }

@media screen and (max-width: 1050px) {
  .container--media {
    right: 100px !important; } }

@media screen and (max-width: 850px) {
  .container--media {
    right: 150px !important; } }

@media screen and (max-width: 784px) {
  .container--media {
    right: 220px !important; } }

@media screen and (max-width: 720px) {
  .container--media {
    right: 235px !important; } }

@media screen and (max-width: 700px) {
  body .main__testimonios .container-fluid .container--testimonios div .container {
    min-width: 500px !important;
    right: unset !important;
    padding-left: 0 !important; }
    body .main__testimonios .container-fluid .container--testimonios div .container .carousel-inner .carousel-item .carousel-caption {
      width: 100px;
      left: 38%; }
      body .main__testimonios .container-fluid .container--testimonios div .container .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: .4rem; }
  .carusel1 {
    display: none; }
  .carusel2 {
    display: block !important; }
    .carusel2 #carouselExampleDark2 .carousel-inner2 .carousel-item2 .carousel-caption2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      right: unset;
      left: unset; }
      .carusel2 #carouselExampleDark2 .carousel-inner2 .carousel-item2 .carousel-caption2 h5 {
        width: 50%;
        font-size: .99rem;
        font-family: "Libre Baskerville", serif; } }

@media screen and (max-width: 445px) {
  .carusel2 #carouselExampleDark2 .carousel-inner2 .carousel-item2 .carousel-caption2 {
    padding-top: 35px; }
    .carusel2 #carouselExampleDark2 .carousel-inner2 .carousel-item2 .carousel-caption2 h5 {
      font-size: .59rem; } }

body {
  color: #000000;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }
  body header {
    z-index: 10; }
    body header .navbar {
      margin: 0px;
      padding: 0px;
      border-bottom: 1px solid #D988AE;
      width: 100%; }
      body header .navbar .navInt {
        margin: 0px 30px 0px 30px; }
        body header .navbar .navInt div ul li {
          position: relative;
          margin: 0px 35px 0px 35px; }
          body header .navbar .navInt div ul li .dropmenu--position {
            border: 1px solid #D988AE;
            top: 50px; }
          body header .navbar .navInt div ul li .dropdown-divider {
            color: #D988AE; }
          body header .navbar .navInt div ul li .btn {
            background-color: #E8BAC9;
            border: 0px;
            border-radius: 15px;
            color: #000000; }
  body footer {
    background-color: #263238;
    color: white;
    font-family: "Roboto", sans-serif;
    padding-top: 40px;
    font-size: 0.8rem; }
    body footer .footerUp .imgFooter {
      display: flex; }
      body footer .footerUp .imgFooter img {
        margin: auto; }
    body footer .footerUp ul {
      list-style: none; }
      body footer .footerUp ul li a {
        text-decoration: none;
        color: white; }
