* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

$colorRosaClaro: #F9E4EE;
$colorRosaOscuro: #D988AE;
$colorRosaBoton: #E8BAC9;
$colorRosaFondo: #FFF8F8;
$colorTitulos: #263238;
$colorNegro: #000000;
$letraTitulos: 'Libre Baskerville', serif;
$letraTextos: 'Roboto', sans-serif;
$tamañoTitulos: 50px;
$tamañoSubTitulos: 35px;
$tamañoTextos: 25px;

@import "index";
@import "quienessomos";
@import "talleres";
@import "testimonios";

body{
    color: $colorNegro;
    font-family: $letraTextos;
    overflow-x: hidden;
    header{
        z-index: 10;
        .navbar{
            margin: 0px;
            padding: 0px;
            border-bottom: 1px solid $colorRosaOscuro;
            width: 100%;
            .navInt{
                margin: 0px 30px 0px 30px;
                div{
                    ul{
                        li{
                            position: relative;
                            margin: 0px 35px 0px 35px;
                            .dropmenu--position{

                                border: 1px solid $colorRosaOscuro;
                                top: 50px;

                            }
                            .dropdown-divider{

                                color: $colorRosaOscuro;

                            }
                            .btn{
                                background-color: $colorRosaBoton;
                                border: 0px;
                                border-radius: 15px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    footer{
        background-color: $colorTitulos;
        color: white;
        font-family: $letraTextos;
        padding-top: 50px;
        padding-bottom: 40px;
        font-size: 0.7rem;
        .footerUp{
            .imgFooter{
                display: flex;
                img{
                    margin: auto;
                }
            }
                ul{
                    list-style: none;
                    li{
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            
        }
        
    }

}